/* You can add global styles to this file, and also import other style files */
@import "fonts";
:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
}

main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}
p {
  margin: 0;
}
h1 {
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}
body {
  font-family: "JetBrains Mono", sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
}

.button {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 22px;
  font-weight: 700;
  font-style: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
}

.title-h6{
  font-style: 18px;
  line-height: 24px;
  font-weight: 800;
};

.subtitle{
  font-style: 14px;
  line-height: 20px;
};
