@if(profile){
<div class="profile-card">
  <div class="avatar-name">
    <img
      [src]="profile.avatarUrl | imgUrl" 
      alt="assets/images/user.png"
      class="profile-card-avatar"
    />
    <div class="profile-card-name">
      <strong class="avatar-name title-h6"
        >{{ profile.firstName }} {{ profile.lastName }}</strong
      >
      <span class="subtitle">{{ profile.username }}</span>
    </div>
  </div>
  <div class="profile-card-description">
    <p>
      {{ profile.description }}
    </p>
  </div>
  <div class="profile-card-tags">
    @for (skill of profile.stack; track skill) {
    <div class="skill-tag">{{ skill }}</div>
    }
  </div>
  <div class="profile-card-action-buttons">
    <button class="button" type="button">Subscribe</button>
  </div>
</div>
}
